/*
 * uni-app uni.scss 内容，可直接修改
 * 参考 https://uniapp.dcloud.io/collocation/uni-scss
 */

// 文字省略号
@mixin text-omit($line: 0) {
    overflow: hidden;
    text-overflow: ellipsis;
    @if $line > 0 {
        word-break: break-all;
        display: -webkit-box;
        -webkit-line-clamp: $line;
        -webkit-box-orient: vertical;
    } @else {
        white-space: nowrap;
    }
}
@mixin my-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    width: 100%;
    min-height: 100vh;
}

@import "nutui-uniapp/styles/variables";
